body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  color: rgb(200, 195, 188);
  background-color: rgb(24, 26, 27);

  font-size: 14px;
  line-height: 1.42;
}

ul {
  list-style: none;
}

a {
  color: #e8e6e3;
  text-decoration: none;
}

.checkbox {
  margin-top: 14px;
  margin-bottom: 14px;
}

.checkbox input {
  position: relative;
  left: -5px;
}

.in-progress {
  color: rgb(255, 158, 61);
  border-color: rgb(255, 158, 61);
}

.done {
  color: rgb(97, 255, 150) !important;
  border-color: rgb(97, 255, 150) !important;
}

.in-progress,
.done {
  color: #c60;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 3px;
  padding: 0.1em 0.4em;
  font-weight: normal;
  margin-left: 0.2em;
  vertical-align: middle;
  font-size: 0.9em;
}

p {
  margin-left: 20px;
  display: inline;
}
